/* GENERAL STYLES */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 241, 236);
    color: rgb(44, 44, 44);
}

/* HEADER & NAVIGATION */

header {
    background-color: rgb(26, 26, 46);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 120px ;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover {
    color: rgb(212, 65, 10);
}

/* HERO SECTION*/

#hero {
    background-color: rgb(26, 26, 46);
    color: white;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#hero h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

#hero  .tagline {
    color: rgb(245, 166, 35);
    font-style: italic;
    margin-bottom: 20px;
}

#hero h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#hero ul {
    list-style: none;
    padding: 0;
}

#hero ul li {
    padding: 5px 0;
    color: rgb(204, 204, 204);
}

#hero ul li::before {
    content: ">";
    color: rgb(212, 65, 10);
}

.hero-slideshow .slides img {
    width: 50%;
    position: relative;
}

.hero-slideshow .slides img {
    width: 100%;
    border-radius: 8px;
}